.backups/
.cache/
.lsp-session-v1
auto-save-list/
bookmarks
custom.el
elpa/
games/
ido.last
nov-places
network-security.data
projectile-bookmarks.eld
projectile.cache
recentf
todos.org
tramp
transient/
url/